In [1]:
N = int(input())
S = int(input())
for i in range (1, N+1):
    R = int(input())
    if (S <= R):
        print("YES")
    else:
        print("NO")

2
100
90
NO
101
YES

In [12]:
4 == 4

True

In [16]:
r=range(1, 10 ,2)
print(r)

range(1, 10, 2)

In [30]:
a=input()
len(a)

213213

6

In [32]:
for i in 1,2,3,4:
    print(i)
print(i)

1
2
3
4
4

In [50]:
a= int(input())
sum=0
for i in range (1,a+1):
    if i<=a:
        sum=sum+i       
print(sum)

10
55

In [51]:
a=input()
print(min(a))

1 2 3 3

In [13]:
a=input()
x= max(a)

3+9

In [25]:
s=input()
b=s[::-1]
for char in b:
    print(char)

1234
4
3
2
1

In [31]:
flname=input()
fname,lname=flname.split(" ")[::-1]
print(fname[0],lname,sep=".")

Rambabu Karnaina
K.Rambabu

In [48]:
m=input()
a=m.split(" ")
sum=0
count=0
for i in a:
    sum=sum+int(i)
    count=count+1
print(sum//count)

20 30 45
31

In [49]:
s="2321sdsds"
type(s)

str

In [55]:
a=90
b=91
c=77
d=44
e=68
f=65 
s=a+b+c+d+e+f
print(s)

435

In [68]:
main= "python"
sub='p'
sub=sub.lower()
print(main.startswith(sub))

True

In [69]:
s="sdd sdjfd nkfffmk fkfdf"
r= s.split()
print(s[1])

d

## str.isUpper()

In [72]:
s=input()
print(s.title())

new life
New Life

In [2]:
s=input()
print(s.find('ca'))

csacaasa
3

In [11]:
a="Gangadhar"
print(a.replace('Ganga','ram'))

ramdhar

In [34]:
li = [12,24,31,534,23,53]
li.sort()
print(li[::-1])

[534, 53, 31, 24, 23, 12]

In [35]:
a=[11,232,3434,524,454]
a.append(322)
a

[11, 232, 3434, 524, 454, 322]

In [36]:
a.pop()

322

In [39]:
x=[2,3213,213,2312]
y=[33,323,3123,31]
y.extend(x)
y

[33, 323, 3123, 31, 2, 3213, 213, 2312]

In [40]:
x.append(y)
x

[2, 3213, 213, 2312, [33, 323, 3123, 31, 2, 3213, 213, 2312]]

In [41]:
x

[2, 3213, 213, 2312, [33, 323, 3123, 31, 2, 3213, 213, 2312]]

In [42]:
x[4][2]

3123

In [46]:
r=[1,2,3,2,3,43,3,7,3,74,7,4]
r.count(7)

2

In [54]:

for i in [786,123,456]:
    r.insert(1,i)
print(r)

[1, 456, 123, 786, 456, 123, 786, 456, 123, 786, 456, 123, 786, 456, 123, 786, 456, 123, 786, 456, 123, 786, 456, 123, 786, 2, 3, 2, 3, 43, 3, 7, 3, 74, 7, 4]

In [59]:
a=[1,4,3,2,7,5]
a

[1, 4, 3, 2, 7, 5]

In [60]:
b=[8,9,10]
s=b[::-1]
for i in s:
    a.insert(1,i)
print(a)

[1, 8, 9, 10, 4, 3, 2, 7, 5]

In [66]:
a=int(input())
c=0
for i in range a :
    lst=list(map(int,input().split()))
    a = sum(lst)
    c=c+1
print(a//c)

SyntaxError: invalid syntax (<ipython-input-66-75b4857c9339>, line 3)

In [89]:
s=input().split() #s='rambabu'
b=input()
m=0
for i in s:
    if i.startswith(b):
        print(i)
        m=m+1
if m==0:
    print(-1)

ddhdf dfs sd
dd
ddhdf

In [99]:
a=input()
b=(a.swapcase().a[-1:]))
b

SyntaxError: invalid syntax (<ipython-input-99-5fe24a8c610a>, line 2)

In [95]:
a='nvsvnvns'

's'